@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&family=Hedvig+Letters+Serif:opsz@12..24&family=Heebo:wght@500&family=Indie+Flower&family=Kalnia:wght@600&family=Lato:wght@300;400&family=Montserrat+Alternates:ital@1&family=Rubik+Scribble&display=swap');

.wrapper{
    background-image: url("/leardeur-business/beautiful1.jpg");
    width:100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // height: 100vh;
    margin: 0;
    object-fit: contain;
    // overflow-x: hidden;
    // position: absolute;
    #title{
        font-family:"Hedvig Letters Serif",sans-serif;
    }

    ul{
        li{
            font-family:'Times New Roman', Times, serif;
        }
    }

    .wrap{
        background:linear-gradient(rgba(0, 0, 0, 0.941),rgba(0, 0, 0, 0.242)) ;
    }

    #epic{
        h2{
            font-family:'Times New Roman', Times, serif;
        }
    }
    
   
}
@media(min-width:756px){
    .fabar{
        display: none;
    }
}

@media(max-width:756px){
.wrapper{
    width: 100% !important;
    // height: 55vh;
}
#opened{
    display: none;
}
#open{
    position:fixed;
    left:0;
    height: 100vh;
    background-color: black;
    z-index: 1;
    width: 100%;
    padding: 10px 20px;
    margin: 0 0;
    top: 0;
    transition: 2s linear;
}

#open{
    li{
        margin: 10px 0;
        padding: 10px 0;
        font-size: 25px;
        border-bottom: 1px solid white;
    }
}
#close{
    display: none;
    transition: 2s linear;

}
.fabar{
    display: block;
    // background-color: rgba(0, 0, 255, 0.219);
    // padding: 4px 3px;
    div:nth-child(1) {
        width: 27px;
        height: 3px;
        background-color: white;
        margin: 5px 1px;
      }
      div:nth-child(2) {
        width: 20px;
        height: 3px;
        background-color: white;
        margin: 5px 7.27px;
      }
      div:nth-child(3) {
        width: 15px;
        height: 3px;
        background-color: white;
        margin: 5px 11.9px;
      }
}
}
 