.wrapper{
    background-image: url("/leardeur-business/beautiful1.jpg");
    width:100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // height: 100vh;
    margin: 0;
    object-fit: contain;
    // overflow-x: hidden;
    // position: absolute;
    h2{
        font-family:'Times New Roman', Times, serif;
    }

    ul{
        li{
            font-family:'Times New Roman', Times, serif;
        }
    }

    .wrap{
        background: #00000059;
    }
    
   
}
@media(min-width:756px){
    .fabar{
        display: none;
    }
}

@media(max-width:756px){
.wrapper{
    width: 100% !important;
    // height: 55vh;
}
#open{
    display: none;
}
.fabar{
    display: block;
    div:nth-child(1) {
        width: 27px;
        height: 2px;
        background-color: white;
        margin: 6px 1px;
      }
      div:nth-child(2) {
        width: 20px;
        height: 2px;
        background-color: white;
        margin: 6px 7px;
      }
      div:nth-child(3) {
        width: 15px;
        height: 2px;
        background-color: white;
        margin: 6px 12px;
      }
}
}
 