#test{
    animation-duration: 30s ease-in;
    transition: 20s linear;
    display: flex;
}
#test:hover{
    display: none;
    transition: 40s linear !important;
}
#tested:hover{
  transition: 50s linear;
}